<div class="row">
    <div class="col-md-8 offset-md-1">

        <h2>Book detail</h2>
        <%= link_to user_path(@book.user.id) do %>
            <%= attachment_image_tag @book.user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
            <%= @book.user.name %>
        <% end %>
        
        <%= link_to book_path(@book.id) do %>
        <%= @book.title %>
        <% end %>
        
        <%= @book.body %>

        <% if @user.id == current_user.id %>
        <%= link_to "Edit", edit_book_path(@book) %>
        <%= link_to "Destroy", book_path(@book), method: :delete  %>
        <% end %>

        <%= render 'books/list', book: @newbook ,user: @book.user %>
    </div>
</div>