<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://kit.fontawesome.com/*******.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container">
                <% if user_signed_in? %>
            <%= link_to "Bookers", root_path , class:"navbar-brand" %>
              <ul class="nav navbar-nav">
                  <li>
                    <i class="fas fa-home">
                    <%= link_to "Home", user_path(current_user.id) %>
                    </i>
                  </li>
                  <li>
                    <i class="fas fa-users">
                    <%= link_to "Users", users_path %>
                    </i>
                  </li>
                  <li>
                    <i class="fas fa-book-open">
                    <%= link_to "Books", books_path %>
                    </i>
                  </li>
                  <li>
                    <i class="fas fa-sign-out-alt">
        
                    <%= link_to "logout", destroy_user_session_path, method: :delete %>
                    </i>
                  </li>
                <% else %>
                  <li>
                    <%= link_to "Bookers", root_path %>
                  </li>
                  <li>
                    <i class="fas fa-home">
                    <%= link_to "Home", root_path %>
                    </i>
                  </li>
                  <li>
                    <i class="fas fa-link">
                    <%= link_to "About", home_about_path %>
                    </i>
                  </li>
                  <li>
                    <i class="fas fa-user-plus">
                    <%= link_to "sign up", new_user_registration_path %>
                    </i>
                  </li>
                  <li>
                    <i class="fas fa-sign-in-alt">
                    <%= link_to "login", new_user_session_path %>
                    </i>
                  </li>
                <% end %>
              </ul>
          </div>
        </nav>
      </header>

      <div class="container">
        <%= yield %>
      </div>

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

  </body>
</html>
